
@{
    ViewBag.Title = "Admin Settings";
}

@section Breadcrumbs{
    <ol class="breadcrumb">
        <li><i class="fa fa-cog"></i> Settings</li>
        <li class="active">@ViewBag.Title</li>
    </ol>
}

@using (Html.BeginForm("UpgradeToAdmin", "Home"))
{
    
}